---
title: Account Page
---
<!DOCTYPE html>
<html>
  <header>
    {% include header.html %}
    {% include fire.html %}
  </header>
	<body>
		{% include navBar.html %}
		<div class="container-lg">
			  <div class="row">
			    <div class="col-lg-3"> <img src="..." alt="..." class="img-thumbnail"> </div>	  
			    <div class="col-lg"> <h1 class="card-title">User Name</h1> </div>
			    <div class="col-lg"> </div>
			  </div>
			</div>
		<button id="file-upload" class="btn btn-info" onclick="handleFileSelect();">Edit Profile</button>
		<input type="file" value="upload" id="file-select"/>
		<div class="card">
			<div class="card-body">
				
				<p class="card-subtitle">First Name</p>
				<p class="card-subtitle">Last Name</p>
			</div>
		</div> 
		<div id="fileSubmit">
     
      
   </div>
					<h2> Average User Rating</h2>
						<span class="far fa-star checked"></span>
						<span class="far fa-star checked"></span>
						<span class="far fa-star checked"></span>
						<span class="far fa-star"></span>
						<span class="fas fa-star"></span>
	</body>
</html>
<script>
	 const storage = firebase.storage(); // Reference to storage service
      
		var fileButton = document.getElementById("file-upload");
		//var fileSelect = document.getElementById("file-select");
		function handleFileSelect(){
			 // Get file
			 var file = document.getElementById("file-select").files[0];

			 // Create storage ref
			 const storageRef = storage.ref('posts/'+file.name);  // Reference to WHERE the image will be stored

			 // Upload File
			 var task = storageRef.put(file);

			 //Upload progress
			 task.on('state_changed',
					function progress(snapshot){
					},
					function error(err){
						 alert("Error!"+err);
					},
					function complete(){
						 alert("Uploaded!");
					}
			 );
		}
</script>
	<!-- navigation bar code
	 <div class="btn-group col" role="group">
    <button type="button" class="btn btn-info col" onclick="window.location='https://hmartinez20.github.io/STMUmarket/item.html'">Item Page</button>
    <button type="button" class="btn btn-secondary col" onclick="window.location='https://hmartinez20.github.io/STMUmarket/seller.html'">Seller Page</button>
  </div>
-->
