---
title: Account Page
---
<!DOCTYPE html>
<html>
  <head>
    {% include header.html %}
    {% include fire.html %}
	  <title>Bootstrap Example</title>
  <!--<meta charset="utf-8">-->
  <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
  </head>
	<body>
		{% include navBar.html %}
		   <div id="fileSubmit">
     <input type="file" value="upload" id="file-select"/>
      <button id="file-upload" class="btn btn-info" onclick="handleFileSelect();">Upload</button>
   </div>
		<div class="row m-5">
		<div class="col-3">
			
			<div class="row"> <img src="{{site.baseurl}}/Empty.jpg" class="img-fluid" alt="Profile Picture"> </div>
			
			<div class="row"> Average ratings </div>
			    
		</div>
		<div class="col-9">
			<div class="row">
				<div class="col-lg"> <h1 class="card-title">User Name</h1> </div>
			</div>
			<div class="row">
				<p class="card-subtitle">FirstName</p>
				<p class="card-subtitle"> LastName</p>
			</div>
			<div class="row">
				<button id="file-upload" class="btn btn-info" onclick="handleFileSelect();">Edit Profile</button>
				<!-- <input type="file" value="upload" id="file-select"/> -->
			</div>
			<div class="row"> Nav bar </div>
			<div class="row"> Body </div>
		
		</div> </div>
		<!-- <div class="container-lg">
			  <div class="row">	  
			    <div class="col-lg"> <h1 class="card-title">User Name</h1> </div>
			    <div class="col-lg"> </div>
			  </div>
			</div>
		
		<button id="file-upload" class="btn btn-info" onclick="handleFileSelect();">Edit Profile</button>
		<input type="file" value="upload" id="file-select"/> 
		<div class="card">
			<div class="card-body">
				
				<p class="card-subtitle">First Name</p>
				<p class="card-subtitle">Last Name</p>
			</div>
		</div>  -->
		<div id="fileSubmit">
     
      
   </div>
					<h2> Average User Rating</h2>
						<span class="far fa-star checked"></span>
						<span class="far fa-star checked"></span>
						<span class="far fa-star checked"></span>
						<span class="far fa-star"></span>
						<span class="fas fa-star"></span>
		   <div id="fileSubmit">
     <input type="file" value="upload" id="file-select"/>
      <button id="file-upload" class="btn btn-info" onclick="handleFileSelect();">Upload</button>
   </div>
		
<!-- Create new posting button -->
		<div class="modal fade" id="modalContactForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Create New Posting</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">

	<!-- Radio -->
        <p class="text-left">
          <strong>Item Type:</strong>
        </p>
        <div class="form-check mb-4">
          <input class="form-check-input" name="group1" type="radio" id="radio-179" value="option1" checked>
          <label class="form-check-label" for="radio-179">Books</label>
        </div>

        <div class="form-check mb-4">
          <input class="form-check-input" name="group1" type="radio" id="radio-279" value="option2">
          <label class="form-check-label" for="radio-279">Clothing</label>
        </div>

        <div class="form-check mb-4">
          <input class="form-check-input" name="group1" type="radio" id="radio-379" value="option3">
          <label class="form-check-label" for="radio-379">Fruniture</label>
        </div>
        <div class="form-check mb-4">
          <input class="form-check-input" name="group1" type="radio" id="radio-479" value="option4">
          <label class="form-check-label" for="radio-479">Misc.</label>
        </div>
        <!-- Radio -->

        <div class="md-form mb-5">
          <i class="fas fa-user prefix grey-text"></i>
          <input type="text" id="form34" class="form-control validate">
          <label data-error="wrong" data-success="right" for="form34">Item Name</label>
        </div>

        <div class="md-form mb-5">
          <i class="fas fa-envelope prefix grey-text"></i>
          <input type="email" id="form29" class="form-control validate">
          <label data-error="wrong" data-success="right" for="form29">Price</label>
        </div>


        <div class="md-form">
          <i class="fas fa-pencil prefix grey-text"></i>
          <textarea type="text" id="form8" class="md-textarea form-control" rows="4"></textarea>
          <label data-error="wrong" data-success="right" for="form8">Item Description</label>
        </div>

      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button class="btn btn-unique">Create Posting<i class="fas fa-paper-plane-o ml-1"></i></button>
      </div>
    </div>
  </div>
</div>

<div class="text-center">
  <a href="" class="btn btn-default btn-rounded mb-4" data-toggle="modal" data-target="#modalContactForm">Create New Posting</a>
</div>
<!-- End of new posting button-->
	</body>
</html>
<script>
	 const storage = firebase.storage(); // Reference to storage service
      
		var fileButton = document.getElementById("file-upload");
		//var fileSelect = document.getElementById("file-select");
		function handleFileSelect(){
			 // Get file
			 var file = document.getElementById("file-select").files[0];

			 // Create storage ref
			 const storageRef = storage.ref('posts/'+file.name);  // Reference to WHERE the image will be stored

			 // Upload File
			 var task = storageRef.put(file);

			 //Upload progress
			 task.on('state_changed',
					function progress(snapshot){
					},
					function error(err){
						 alert("Error!"+err);
					},
					function complete(){
						 alert("Uploaded!");
					}
			 );
		}
	      var usersRef = firebase.database().ref("users/");
      function writeNewUser(){
         usersRef.push({
            name: "Jane",
            number: 1,
            age: 30
         });
      }
</script>
	<!-- navigation bar code
	 <div class="btn-group col" role="group">
    <button type="button" class="btn btn-info col" onclick="window.location='https://hmartinez20.github.io/STMUmarket/item.html'">Item Page</button>
    <button type="button" class="btn btn-secondary col" onclick="window.location='https://hmartinez20.github.io/STMUmarket/seller.html'">Seller Page</button>
  </div>
-->
