---
title: Seller 
---
<!DOCTYPE html>
<html>
	<title>
		Seller Information
	</title>
	<header>
		{% include header.html %}
		{% include fire.html %}
	</header>
	<body>
		{% include navBar.html%}
		<br><br>
		
		<h1> Seller Name </h1>
			
		<h2> Current Average Rating: X.X <br>
		     Last Rating: X.X</h2>
		<!-- This Button triggers a popup that gives seller rating info  -->
		<button class = "btn btn-warning" id="btnPopover22" title="Seller Rating"
			data-html="true"
			data-content="Average Rating: X.X <br> Last Rating: X"
			data-trigger="focus" 
			data-toggle="popover">
				View Ratings
		</button>
		<br><br>
		
		<!-- This Button triggers a popup that gives seller contact info-->
		<button class = "btn btn-primary" id="btnPopover" title="Seller Contact Information"
			data-html="true"
			data-content="Email @ xxxxxxxxx@mail.stmarytx.edu <br>
				      Please include STMU Marketplace and posting # in Subject line"
			data-trigger="focus" 
			data-toggle="popover2">
				Contact Seller
		</button>
		<br><br>
		
		<!-- Card that displays short seller biography/information -->
		<div class="card bg-light mb-3" style = "max-width: 50rem;">
			<div class="card-header"> Seller Bio </div>
			<div class="card-body">
				Hello. I am a Junior at St Mary's.
			</div>
		</div>
		<br><br>
	
		<h2> Seller's Listings: </h2>
		
		<div class="row">
      <div class="col-9" id="listings">
        <div class="row">
          <div class="card col-3" href="#">
            <img src="{{site.baseurl}}/Empty.jpg" class="card-img-top mt-3" style="background-color: grey;" alt="">
            <div class="card-body"><h6 class="card-title">Title</h6><p class="card-text">Description</p></div>
          </div>
          <div class="card col-3" href="#">
            <img src="{{site.baseurl}}/Empty.jpg" class="card-img-top mt-3" style="background-color: grey;" alt="">
            <div class="card-body"><h6 class="card-title">Title</h6><p class="card-text">Description</p></div>
          </div>
          <div class="card col-3" href="#">
            <img src="{{site.baseurl}}/Empty.jpg" class="card-img-top mt-3" style="background-color: grey;" alt="">
            <div class="card-body"><h6 class="card-title">Title</h6><p class="card-text">Description</p></div>
          </div>
          <div class="card col-3" href="#">
            <img src="{{site.baseurl}}/Empty.jpg" class="card-img-top mt-3" style="background-color: grey;" alt="">
            <div class="card-body"><h6 class="card-title">Title</h6><p class="card-text">Description</p></div>
          </div>
        </div> <!-- End 1st row-->
        
      </div> <!-- End listings section-->
			

			

									  
									      
	</body>
</html>



<script type="text/javascript">
	$(document).ready(function () 
		{ $('#btnPopover').popover(); });
</script>

