<div class="jumbotron">
  <div class="d-flex justify-content-between">
    <button class="btn btn-lg fas fa-home align-center" onclick="window.location='https://hmartinez20.github.io/STMUmarket/index.html'"></button>
    <div>
      <h1 class="d-flex justify-content-center align-center block"> StMU Marketplace </h1>
      <h4 class="block text-center"> <i>Don't trash it! Sell it</i></h4>
    </div>
  	<div class="row text-right align-items-center">
    	<div>	
    		<a class="mr-2" href="https://hmartinez20.github.io/STMUmarket/signup.html">Sign Up</a>
        <br>
        <a class="mr-2" href="https://hmartinez20.github.io/STMUmarket/login.html">Login</a>
        <br>
        <a class="mr-2" href="https://hmartinez20.github.io/STMUmarket/Account.html">My Account</a>
    	</div>
      <img STYLE="position:absolute; TOP:65px; LEFT:960px; WIDTH: 5rem; HEIGHT: 5rem" src="{{site.baseurl}}/cart.png">
    	<div><img style="width: 5rem; height: 5rem;" src="/STMUmarket/Empty.jpg" alt="User Image"></div>
    </div>
  </div>
  <br>
  <div class="btn-group col" role="group">
    <button type="button" class="btn btn-info col" onclick="window.location='https://hmartinez20.github.io/STMUmarket/Account.html'">Account Page</button>
    <button type="button" class="btn btn-light col" onclick="window.location='https://hmartinez20.github.io/STMUmarket/item.html'">Item Page</button>
    <button type="button" class="btn btn-secondary col" onclick="window.location='https://hmartinez20.github.io/STMUmarket/seller.html'">Seller Page</button>
  </div>
</div>
