<!-- JS used for seller.html -->

<!--Script to toggle popover-->
<script >
	$(document).ready(function () 
		{ $("[data-toggle=popover]").popover(); });
</script>

<!-- Get and display seller's name -->
<script>
	
	
	
	
	$(document).ready( function()	  
	{
		
		db.collection("users").doc("seller").get().then(function(doc) {
    		if (doc.exists) {
			var data = doc.data();
			
			var name = data.username;
        		console.log("Document data:", name);
    		} else {
        		// doc.data() will be undefined in this case
        		console.log("No such document!");
   		 }
		}).catch(function(error) {
   		 	console.log("Error getting document:", error);
		});
		
		
		var html = "<h1> "
		html += name
		html+= " Hello </h1>"
		console.log("works?:", html);
		$("#sellerName").html(html);
		
		
	});
</script>

	
<!--Script to create and display Cards containing information for Seller's postings-->	
<script>
	$(document).ready( function(){
		var count = 4;
		var rowCount = 2;
		var html = "";
		
		for (i=0;i<rowCount;i++){
			html+= "<div class='row' >"
			for(j=0;j<count;j++){
				html+= "<div class='card col-3' >";
				html+= "<img src='{{site.baseurl}}/Empty.jpg' class='card-img-top mt-3' style='background-color: grey;'" 
				html+= "alt=''>"
				html+= "<div class='card-body'><h6 class='card-title'>Title</h6><p class='card-text'>"
				html+= "Description </p></div>"
				html+= " </div>";
				html+= "<br>";
			}
			html+= "</div>"
		}
		$("#sellerListings").html(html);
		});
</script>

<!-- Function to access seller information, currently testing -->
<script>
	$("#setinfo").click(function(){
		db.collection("users").doc("seller").set({
    			email: "srodriguezgome@mail.stmarytx.edu",
			name: "Salvador",
			username: "srodriguezgome"
		})
		.then(function() {
    			console.log("Document successfully written!");
		})
		.catch(function(error) {
    			console.error("Error writing document: ", error);
		});
	});

</script>


<!-- Testing data retrieval IGNORE-->
<script>
	$("#getinfo").click(function(){
		db.collection("users").doc("seller").set({
    			email: "srodriguezgome@mail.stmarytx.edu",
			name: "Salvador",
			username: "srodriguezgome"
		})
		.then(function() {
    			console.log("Document successfully written!");
		})
		.catch(function(error) {
    			console.error("Error writing document: ", error);
		});
	});

</script>
